<p>
  <%- form.label("path") %><br />
  <%- form.input("path") %>
</p>
<p>
  <%- form.label("author") %><br />
  <%- form.input("author") %>
</p>
<p>
  <%- form.label("text") %><br />
  <%- form.input("text") %>
</p>
