<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- stylesheet_link_tag('reset', 'style') %>
    <%- javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'rails', 'application') %>
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <h1 class="title">
          <%= page.title %>
        </h1>
      </div>
      <div class="menu">
        <%- menu(page) %>
      </div>
      <div class="content">
        <%- body %>
        <%- link_to('Edit', edit_page(page)) %>
      </div>
    </div>
  </body>
</html>
